[app]
name = "login-crud-user"
env = "local"
owner = "zidni722@gmail.com"
server_port = 9090
 
[database]
connection = "mysql"
host = "localhost"
port = 3306
name = "login-crud-user"
username = "root"
password = ""
charset = "utf8"
loc = "Local"
 
[token]
key = ""
issuer = "zidni"
 
[utilities]
ui_avatar_url = "https://ui-avatars.com/api"